@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill='none'], [fill^='url'])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke='none'], [stroke^='url'])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Open Sans';
}

p {
  color: #6a859c;
  line-height: 1.9;
}

a {
  text-decoration: none;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 60px;
  margin: 0;
}

:root {
  --color-white: #ffffff;
  --color-blue: #69b9ff;
  --color-dark-blue: #2e80b6;
  --color-light-blue: #668cad;
  --color-gray: #676770;
  --color-light-gray: #92a0ad;

  --border-radius-button: 4px;
  --transition-duration: 0.4s;

  --container-width: 924px;
  --header-height: 60px;
}

.container {
  max-width: var(--container-width);
  flex-shrink: 0;
  margin: 0 auto;
  box-sizing: border-box;
  transition: padding 0.3s ease;
}

.title__wrapper {
  margin-bottom: 60px;
}

.title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 5px;
  color: var(--color-gray);
  margin-bottom: 17px;
}

.subtitle {
  font-size: 17px;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8e8e9c;
}

/* ------- HEADER ------ */
.header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  transform: translateY(-100%);
  transition: var(--transition-duration);
  z-index: 100;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.header--visible {
  transform: translateY(0);
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #69b9ff;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header__nav-list {
  display: flex;
}

.header__nav li + li {
  margin-left: 40px;
}

.header__nav a {
  color: var(--color-gray);
  font-size: 16px;
  display: inline-block;
  transition:
    color var(--transition-duration),
    transform var(--transition-duration);
}

.header__nav a:hover {
  color: #0082f3;
  transform: scale(0.94);
}

.header__nav a:active {
  color: #0062b6;
}

/* ------- MAIN ------ */

.main {
}

/* ------- WELCOME ------ */
.welcome {
  min-height: 600px;
  height: 100vh;
  padding: 195px 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  background-color: #676770;
  background-image: url('/images/welcome-background.png');

  background-size: cover;
  background-position: center;
  width: 100vw;
  margin: 0;
}

.welcome__container {
  align-items: center;
  flex-direction: column;

  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.welcome__heading {
  color: #fff;
  line-height: 1;
  margin-bottom: 100px;
  font-size: clamp(10px, 8vw, 59px);
}

.welcome__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.button {
  display: flex;
  border-radius: var(--border-radius-button);
  flex-shrink: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: var(--transition-duration);
  color: var(--color-white);
  white-space: nowrap;
  justify-content: center;
}

.welcome__button--primary {
  padding: 12px 30px;
  background: var(--color-blue);
}

.welcome__button--primary:hover {
  background: #4b94d4;
}

.welcome__button--primary:active {
  background: var(--color-dark-blue);
}

.welcome__button--secondary {
  padding: 12px 30px;
  background: transparent;
  font-size: 16px;
  border: 1px solid;
}

.welcome__button--secondary:hover {
  padding: 12px 30px;
  background: #ffffff;
  color: var(--color-gray);
  font-size: 16px;
  border-color: #ffffff;
}

.welcome__button--secondary:active {
  padding: 12px 30px;
  background: #c4c4c4;
  border-color: #c4c4c4;
  color: var(--color-gray);
  font-size: 16px;
}

/* ------- ABOUT ------ */
.common-section {
  flex-direction: column;
  text-align: center;
  padding: 80px 0;
}

.about .cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cards-wrapper .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 15px 23px;
}

.card img {
  width: 94px;
  height: 94px;
  object-fit: contain;
  margin-bottom: 20px;
}

.card__title {
  color: var(--color-gray);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  margin-bottom: 14px;
}

.card__subtitle {
  color: #6a859c;
  font-size: 14px;
  line-height: 1.8;
}

/* ------- SERVICES ------ */
.common-section--dark {
  background-color: #192024;
}

.common-section--dark * {
  color: var(--color-white);
}

.common-section--dark .subtitle {
  color: #e8e8e8;
}

.services .card__subtitle {
  color: #fff;
  margin-bottom: 17px;
}

.services .cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.services .card {
  padding: 15px 15px 15px;
}

.services .card img {
  width: 430px;
  height: auto;
  object-fit: contain;
  margin-top: 20px;
}

/* .card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 34px 15px 23px;
  width: 300px;
} */

/* ------- TABS SECTION ------ */
.tabs__nav {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 13px;
  margin-bottom: 52px;
}

.tabs__button {
  display: inline-block;
  padding: 1px 30px;
  border-radius: var(--border-radius-button);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  background-color: var(--color-light-gray);

  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 2px;

  transition: var(--transition-duration);
}

.tabs__button:hover {
  background-color: var(--color-dark-blue);
}

.tabs__button:active {
  background-color: #225e87;
}

.tabs__item {
  margin-bottom: 90px;
}

.tabs__image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.tabs__desc {
  color: #6a859c;
  font-size: 13px;
  line-height: 25px;
}

/* ------- FOOTER ------ */
.footer__desc {
  padding: 35px 0;
}

.footer__desc-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__desc-container > * {
  width: 30%;
  min-width: 220px;
}

.footer__desc p {
  color: #6a859c;
  font-size: 14px;
  font-weight: 400;
}

.footer__desc a {
  display: flex;
  color: var(--color-light-blue);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.footer__desc li {
  height: 30px;
  position: relative;
}

.footer__desc li + li {
  margin-top: 6px;
}

.footer__desc li::before {
  content: '';
  width: 100%;
  height: 1px;

  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #d5d5d5;
}

.footer__social li::before {
  width: calc(100% - 30px);
}

.footer__socials-icon {
  margin-right: 10px;
}

.footer-title {
  color: var(--color-gray);
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 4px;
  margin-bottom: 25px;
}

.footer__social,
.footer__about,
.footer__links {
  padding: 1px 2px 5px;
}

.footer__social img {
  width: 20;
  height: 20px;
  object-fit: contain;
}

.footer__copy {
  background-color: #383838;
  padding: 40px;
}

.footer__copy p {
  color: #9e9e9e;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}

@media (max-width: 931px) {
  .container {
    padding: 0 20px;
  }

  .card__title {
    letter-spacing: 2px;
    overflow-wrap: break-word;
  }

  .tabs__item {
    margin-bottom: 0;
  }
}

@media (max-width: 745px) {
  .card__title {
    display: inline-block;
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.2;
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .header__nav a {
    font-size: 18px;
  }

  .title__wrapper {
    margin-bottom: 30px;
  }

  .about .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .services .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .about .card {
    max-width: 300px;
    margin: 0 auto;
  }

  .services .card {
    max-width: 460px;
    margin: 0 auto;
  }

  .tabs__nav {
    flex-direction: column;
    width: 80%;
    height: auto;
  }

  .tabs__button {
    padding: 12px 10px;
    font-size: 18px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  .footer__desc-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer__desc-container > * {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .header__nav li + li {
    margin-left: 15px;
  }

  .welcome__heading {
    margin-bottom: 50px;
  }

  .welcome__links {
    align-items: center;
    flex-direction: column;
  }

  .welcome__links {
    flex-direction: column;
    justify-content: center;
  }

  .welcome__button--primary,
  .welcome__button--secondary {
    display: inline-flex;
    width: 70%;
    font-size: clamp(0px, 8vh, 16px);
  }

  .header__container {
    flex-wrap: wrap;
  }
}
